=begin
#Clerk Backend API

#The Clerk REST Backend API, meant to be accessed by backend servers.  ### Versions  When the API changes in a way that isn't compatible with older versions, a new version is released. Each version is identified by its release date, e.g. `2021-02-05`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).  Please see https://clerk.com/docs for more information.

The version of the OpenAPI document: 2021-02-05
Contact: support@clerk.com
Generated by: https://openapi-generator.tech
Generator version: unset

=end

require 'cgi'

module ClerkHttpClient
  class CommerceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a subscription item
    # Cancel a specific subscription item. The subscription item can be canceled immediately or at the end of the current billing period.
    # @param subscription_item_id [String] The ID of the subscription item to cancel
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :end_now Whether to cancel the subscription immediately (true) or at the end of the current billing period (false, default) (default to false)
    # @return [CommerceSubscriptionItem]

    def cancel_commerce_subscription_item(subscription_item_id, opts = {})
      data, _status_code, _headers = cancel_commerce_subscription_item_with_http_info(subscription_item_id, opts)
      data
    end

    # Cancel a subscription item
    # Cancel a specific subscription item. The subscription item can be canceled immediately or at the end of the current billing period.
    # @param subscription_item_id [String] The ID of the subscription item to cancel
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :end_now Whether to cancel the subscription immediately (true) or at the end of the current billing period (false, default) (default to false)
    # @return [Array<(CommerceSubscriptionItem, Integer, Hash)>] CommerceSubscriptionItem data, response status code and response headers
    # DELETE 
    def cancel_commerce_subscription_item_with_http_info(subscription_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.cancel_commerce_subscription_item ...'
      end
      # verify the required parameter 'subscription_item_id' is set
      if @api_client.config.client_side_validation && subscription_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_item_id' when calling CommerceApi.cancel_commerce_subscription_item"
      end
      # resource path
      local_var_path = '/commerce/subscription_items/{subscription_item_id}'.sub('{' + 'subscription_item_id' + '}', CGI.escape(subscription_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'end_now'] = opts[:'end_now'] if !opts[:'end_now'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommerceSubscriptionItem'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.cancel_commerce_subscription_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#cancel_commerce_subscription_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all commerce plans
    # Returns a list of all commerce plans for the instance. The plans are returned sorted by creation date, with the newest plans appearing first. This includes both free and paid plans. Pagination is supported.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :paginated Whether to paginate the results. If true, the results will be paginated. If false, the results will not be paginated.
    # @option opts [Integer] :limit Applies a limit to the number of results returned. Can be used for paginating the results together with &#x60;offset&#x60;. (default to 10)
    # @option opts [Integer] :offset Skip the first &#x60;offset&#x60; results when paginating. Needs to be an integer greater or equal to zero. To be used in conjunction with &#x60;limit&#x60;. (default to 0)
    # @option opts [String] :payer_type Filter plans by payer type
    # @return [PaginatedCommercePlanResponse]

    def get_commerce_plan_list(opts = {})
      data, _status_code, _headers = get_commerce_plan_list_with_http_info(opts)
      data
    end

    # List all commerce plans
    # Returns a list of all commerce plans for the instance. The plans are returned sorted by creation date, with the newest plans appearing first. This includes both free and paid plans. Pagination is supported.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :paginated Whether to paginate the results. If true, the results will be paginated. If false, the results will not be paginated.
    # @option opts [Integer] :limit Applies a limit to the number of results returned. Can be used for paginating the results together with &#x60;offset&#x60;. (default to 10)
    # @option opts [Integer] :offset Skip the first &#x60;offset&#x60; results when paginating. Needs to be an integer greater or equal to zero. To be used in conjunction with &#x60;limit&#x60;. (default to 0)
    # @option opts [String] :payer_type Filter plans by payer type
    # @return [Array<(PaginatedCommercePlanResponse, Integer, Hash)>] PaginatedCommercePlanResponse data, response status code and response headers
    # GET 
    def get_commerce_plan_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.get_commerce_plan_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommerceApi.get_commerce_plan_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommerceApi.get_commerce_plan_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CommerceApi.get_commerce_plan_list, must be greater than or equal to 0.'
      end

      allowable_values = ["user", "org"]
      if @api_client.config.client_side_validation && opts[:'payer_type'] && !allowable_values.include?(opts[:'payer_type'])
        fail ArgumentError, "invalid value for \"payer_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/commerce/plans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paginated'] = opts[:'paginated'] if !opts[:'paginated'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'payer_type'] = opts[:'payer_type'] if !opts[:'payer_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedCommercePlanResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.get_commerce_plan_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#get_commerce_plan_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all subscription items
    # Returns a list of all subscription items for the instance. The subscription items are returned sorted by creation date, with the newest appearing first. This includes subscriptions for both users and organizations. Pagination is supported.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :paginated Whether to paginate the results. If true, the results will be paginated. If false, the results will not be paginated.
    # @option opts [Integer] :limit Applies a limit to the number of results returned. Can be used for paginating the results together with &#x60;offset&#x60;. (default to 10)
    # @option opts [Integer] :offset Skip the first &#x60;offset&#x60; results when paginating. Needs to be an integer greater or equal to zero. To be used in conjunction with &#x60;limit&#x60;. (default to 0)
    # @option opts [String] :status Filter subscription items by status
    # @option opts [String] :payer_type Filter subscription items by payer type
    # @option opts [String] :plan_id Filter subscription items by plan ID
    # @option opts [Boolean] :include_free Whether to include free plan subscription items (default to false)
    # @option opts [String] :query Search query to filter subscription items
    # @return [PaginatedCommerceSubscriptionItemResponse]

    def get_commerce_subscription_item_list(opts = {})
      data, _status_code, _headers = get_commerce_subscription_item_list_with_http_info(opts)
      data
    end

    # List all subscription items
    # Returns a list of all subscription items for the instance. The subscription items are returned sorted by creation date, with the newest appearing first. This includes subscriptions for both users and organizations. Pagination is supported.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :paginated Whether to paginate the results. If true, the results will be paginated. If false, the results will not be paginated.
    # @option opts [Integer] :limit Applies a limit to the number of results returned. Can be used for paginating the results together with &#x60;offset&#x60;. (default to 10)
    # @option opts [Integer] :offset Skip the first &#x60;offset&#x60; results when paginating. Needs to be an integer greater or equal to zero. To be used in conjunction with &#x60;limit&#x60;. (default to 0)
    # @option opts [String] :status Filter subscription items by status
    # @option opts [String] :payer_type Filter subscription items by payer type
    # @option opts [String] :plan_id Filter subscription items by plan ID
    # @option opts [Boolean] :include_free Whether to include free plan subscription items (default to false)
    # @option opts [String] :query Search query to filter subscription items
    # @return [Array<(PaginatedCommerceSubscriptionItemResponse, Integer, Hash)>] PaginatedCommerceSubscriptionItemResponse data, response status code and response headers
    # GET 
    def get_commerce_subscription_item_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.get_commerce_subscription_item_list ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommerceApi.get_commerce_subscription_item_list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CommerceApi.get_commerce_subscription_item_list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling CommerceApi.get_commerce_subscription_item_list, must be greater than or equal to 0.'
      end

      allowable_values = ["active", "ended", "past_due", "upcoming", "free_trial"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["user", "org"]
      if @api_client.config.client_side_validation && opts[:'payer_type'] && !allowable_values.include?(opts[:'payer_type'])
        fail ArgumentError, "invalid value for \"payer_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/commerce/subscription_items'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paginated'] = opts[:'paginated'] if !opts[:'paginated'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'payer_type'] = opts[:'payer_type'] if !opts[:'payer_type'].nil?
      query_params[:'plan_id'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'include_free'] = opts[:'include_free'] if !opts[:'include_free'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedCommerceSubscriptionItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.get_commerce_subscription_item_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#get_commerce_subscription_item_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
