=begin
#Clerk Backend API

#The Clerk REST Backend API, meant to be accessed by backend servers.  ### Versions  When the API changes in a way that isn't compatible with older versions, a new version is released. Each version is identified by its release date, e.g. `2021-02-05`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).  Please see https://clerk.com/docs for more information.

The version of the OpenAPI document: 2021-02-05
Contact: support@clerk.com
Generated by: https://openapi-generator.tech
Generator version: unset

=end

require 'cgi'

module ClerkHttpClient
  class MiscellaneousApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the markup for the interstitial page
    # The Clerk interstitial endpoint serves an html page that loads clerk.js in order to check the user's authentication state. It is used by Clerk SDKs when the user's authentication state cannot be immediately determined.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :frontend_api Please use &#x60;frontend_api&#x60; instead
    # @option opts [String] :frontend_api2 The Frontend API key of your instance
    # @option opts [String] :publishable_key The publishable key of your instance
    # @option opts [String] :proxy_url The proxy URL of your instance
    # @option opts [String] :domain The domain of your instance
    # @option opts [String] :sign_in_url The sign in URL of your instance
    # @option opts [Boolean] :use_domain_for_script Whether to use the domain for the script URL
    # @return [nil]

    def get_public_interstitial(opts = {})
      get_public_interstitial_with_http_info(opts)
      nil
    end

    # Returns the markup for the interstitial page
    # The Clerk interstitial endpoint serves an html page that loads clerk.js in order to check the user&#39;s authentication state. It is used by Clerk SDKs when the user&#39;s authentication state cannot be immediately determined.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :frontend_api Please use &#x60;frontend_api&#x60; instead
    # @option opts [String] :frontend_api2 The Frontend API key of your instance
    # @option opts [String] :publishable_key The publishable key of your instance
    # @option opts [String] :proxy_url The proxy URL of your instance
    # @option opts [String] :domain The domain of your instance
    # @option opts [String] :sign_in_url The sign in URL of your instance
    # @option opts [Boolean] :use_domain_for_script Whether to use the domain for the script URL
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    # GET 
    def get_public_interstitial_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MiscellaneousApi.get_public_interstitial ...'
      end
      # resource path
      local_var_path = '/public/interstitial'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'frontendApi'] = opts[:'frontend_api'] if !opts[:'frontend_api'].nil?
      query_params[:'frontend_api'] = opts[:'frontend_api2'] if !opts[:'frontend_api2'].nil?
      query_params[:'publishable_key'] = opts[:'publishable_key'] if !opts[:'publishable_key'].nil?
      query_params[:'proxy_url'] = opts[:'proxy_url'] if !opts[:'proxy_url'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'sign_in_url'] = opts[:'sign_in_url'] if !opts[:'sign_in_url'].nil?
      query_params[:'use_domain_for_script'] = opts[:'use_domain_for_script'] if !opts[:'use_domain_for_script'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MiscellaneousApi.get_public_interstitial",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MiscellaneousApi#get_public_interstitial\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
