=begin
#Clerk Backend API

#The Clerk REST Backend API, meant to be accessed by backend servers.  ### Versions  When the API changes in a way that isn't compatible with older versions, a new version is released. Each version is identified by its release date, e.g. `2021-02-05`. For more information, please see [Clerk API Versions](https://clerk.com/docs/backend-requests/versioning/overview).   Please see https://clerk.com/docs for more information.

The version of the OpenAPI document: v1
Contact: support@clerk.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module ClerkBackend
  class EmailAddressesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an email address
    # Create a new email address
    # @param [Hash] opts the optional parameters
    # @option opts [CreateEmailAddressRequest] :create_email_address_request 
    # @return [EmailAddress]

    
    def create(opts = {})
      data, _status_code, _headers = create_with_http_info(opts)
      data
    end

    # Create an email address
    # Create a new email address
    # @param [Hash] opts the optional parameters
    # @option opts [CreateEmailAddressRequest] :create_email_address_request 
    # @return [Array<(EmailAddress, Integer, Hash)>] EmailAddress data, response status code and response headers
    # POST 
    def create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAddressesApi.create_email_address ...'
      end
      # resource path
      local_var_path = '/email_addresses'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_email_address_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAddress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailAddressesApi.create_email_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAddressesApi#create_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an email address
    # Delete the email address with the given ID
    # @param email_address_id [String] The ID of the email address to delete
    # @param [Hash] opts the optional parameters
    # @return [DeletedObject]

    
    def delete(email_address_id, opts = {})
      data, _status_code, _headers = delete_with_http_info(email_address_id, opts)
      data
    end

    # Delete an email address
    # Delete the email address with the given ID
    # @param email_address_id [String] The ID of the email address to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedObject, Integer, Hash)>] DeletedObject data, response status code and response headers
    # DELETE 
    def delete_with_http_info(email_address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAddressesApi.delete_email_address ...'
      end
      # verify the required parameter 'email_address_id' is set
      if @api_client.config.client_side_validation && email_address_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_address_id' when calling EmailAddressesApi.delete_email_address"
      end
      # resource path
      local_var_path = '/email_addresses/{email_address_id}'.sub('{' + 'email_address_id' + '}', CGI.escape(email_address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletedObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailAddressesApi.delete_email_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAddressesApi#delete_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an email address
    # Returns the details of an email address.
    # @param email_address_id [String] The ID of the email address to retrieve
    # @param [Hash] opts the optional parameters
    # @return [EmailAddress]

    
    def find(email_address_id, opts = {})
      data, _status_code, _headers = find_with_http_info(email_address_id, opts)
      data
    end

    # Retrieve an email address
    # Returns the details of an email address.
    # @param email_address_id [String] The ID of the email address to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailAddress, Integer, Hash)>] EmailAddress data, response status code and response headers
    # GET 
    def find_with_http_info(email_address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAddressesApi.get_email_address ...'
      end
      # verify the required parameter 'email_address_id' is set
      if @api_client.config.client_side_validation && email_address_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_address_id' when calling EmailAddressesApi.get_email_address"
      end
      # resource path
      local_var_path = '/email_addresses/{email_address_id}'.sub('{' + 'email_address_id' + '}', CGI.escape(email_address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAddress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailAddressesApi.get_email_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAddressesApi#get_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an email address
    # Updates an email address.
    # @param email_address_id [String] The ID of the email address to update
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateEmailAddressRequest] :update_email_address_request 
    # @return [EmailAddress]

    
    def update(email_address_id, opts = {})
      data, _status_code, _headers = update_with_http_info(email_address_id, opts)
      data
    end

    # Update an email address
    # Updates an email address.
    # @param email_address_id [String] The ID of the email address to update
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateEmailAddressRequest] :update_email_address_request 
    # @return [Array<(EmailAddress, Integer, Hash)>] EmailAddress data, response status code and response headers
    # PATCH 
    def update_with_http_info(email_address_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailAddressesApi.update_email_address ...'
      end
      # verify the required parameter 'email_address_id' is set
      if @api_client.config.client_side_validation && email_address_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_address_id' when calling EmailAddressesApi.update_email_address"
      end
      # resource path
      local_var_path = '/email_addresses/{email_address_id}'.sub('{' + 'email_address_id' + '}', CGI.escape(email_address_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_email_address_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmailAddress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"EmailAddressesApi.update_email_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailAddressesApi#update_email_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
