=begin
#Clerk Backend API

#The Clerk REST Backend API, meant to be accessed by backend servers.  ### Versions  When the API changes in a way that isn't compatible with older versions, a new version is released. Each version is identified by its release date, e.g. `2021-02-05`. For more information, please see [Clerk API Versions](https://clerk.com/docs/backend-requests/versioning/overview).   Please see https://clerk.com/docs for more information.

The version of the OpenAPI document: v1
Contact: support@clerk.com
Generated by: https://openapi-generator.tech
Generator version: 7.11.0-SNAPSHOT

=end

require 'cgi'

module ClerkBackend
  class OrganizationDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new organization domain.
    # Creates a new organization domain. By default the domain is verified, but can be optionally set to unverified.
    # @param organization_id [String] The ID of the organization where the new domain will be created.
    # @param create_organization_domain_request [CreateOrganizationDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OrganizationDomain]

    def create_domain(organization_id, create_organization_domain_request, opts = {})
      data, _status_code, _headers = create_domain_with_http_info(organization_id, create_organization_domain_request, opts)
      data
    end

    # Create a new organization domain.
    # Creates a new organization domain. By default the domain is verified, but can be optionally set to unverified.
    # @param organization_id [String] The ID of the organization where the new domain will be created.
    # @param create_organization_domain_request [CreateOrganizationDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrganizationDomain, Integer, Hash)>] OrganizationDomain data, response status code and response headers
    # POST 
    def create_domain_with_http_info(organization_id, create_organization_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationDomainsApi.create_organization_domain ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling OrganizationDomainsApi.create_organization_domain"
      end
      # verify the required parameter 'create_organization_domain_request' is set
      if @api_client.config.client_side_validation && create_organization_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_organization_domain_request' when calling OrganizationDomainsApi.create_organization_domain"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/domains'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_organization_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrganizationDomain'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationDomainsApi.create_organization_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationDomainsApi#create_organization_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a domain from an organization.
    # Removes the given domain from the organization.
    # @param organization_id [String] The ID of the organization the domain belongs to
    # @param domain_id [String] The ID of the domain
    # @param [Hash] opts the optional parameters
    # @return [DeletedObject]

    def delete_domain(organization_id, domain_id, opts = {})
      data, _status_code, _headers = delete_domain_with_http_info(organization_id, domain_id, opts)
      data
    end

    # Remove a domain from an organization.
    # Removes the given domain from the organization.
    # @param organization_id [String] The ID of the organization the domain belongs to
    # @param domain_id [String] The ID of the domain
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedObject, Integer, Hash)>] DeletedObject data, response status code and response headers
    # DELETE 
    def delete_domain_with_http_info(organization_id, domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationDomainsApi.delete_organization_domain ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling OrganizationDomainsApi.delete_organization_domain"
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling OrganizationDomainsApi.delete_organization_domain"
      end
      # resource path
      local_var_path = '/organizations/{organization_id}/domains/{domain_id}'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s)).sub('{' + 'domain_id' + '}', CGI.escape(domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletedObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationDomainsApi.delete_organization_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationDomainsApi#delete_organization_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all domains of an organization.
    # Get a list of all domains of an organization.
    # @param organization_id [String] The organization ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit Applies a limit to the number of results returned. Can be used for paginating the results together with &#x60;offset&#x60;. (default to 10)
    # @option opts [Float] :offset Skip the first &#x60;offset&#x60; results when paginating. Needs to be an integer greater or equal to zero. To be used in conjunction with &#x60;limit&#x60;. (default to 0)
    # @option opts [String] :verified Filter domains by their verification status. &#x60;true&#x60; or &#x60;false&#x60;
    # @option opts [String] :enrollment_mode Filter domains by their enrollment mode
    # @return [OrganizationDomains]

    def domains(organization_id, opts = {})
      data, _status_code, _headers = domains_with_http_info(organization_id, opts)
      data
    end

    # Get a list of all domains of an organization.
    # Get a list of all domains of an organization.
    # @param organization_id [String] The organization ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :limit Applies a limit to the number of results returned. Can be used for paginating the results together with &#x60;offset&#x60;. (default to 10)
    # @option opts [Float] :offset Skip the first &#x60;offset&#x60; results when paginating. Needs to be an integer greater or equal to zero. To be used in conjunction with &#x60;limit&#x60;. (default to 0)
    # @option opts [String] :verified Filter domains by their verification status. &#x60;true&#x60; or &#x60;false&#x60;
    # @option opts [String] :enrollment_mode Filter domains by their enrollment mode
    # @return [Array<(OrganizationDomains, Integer, Hash)>] OrganizationDomains data, response status code and response headers
    # GET 
    def domains_with_http_info(organization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationDomainsApi.list_organization_domains ...'
      end
      # verify the required parameter 'organization_id' is set
      if @api_client.config.client_side_validation && organization_id.nil?
        fail ArgumentError, "Missing the required parameter 'organization_id' when calling OrganizationDomainsApi.list_organization_domains"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OrganizationDomainsApi.list_organization_domains, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OrganizationDomainsApi.list_organization_domains, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling OrganizationDomainsApi.list_organization_domains, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/organizations/{organization_id}/domains'.sub('{' + 'organization_id' + '}', CGI.escape(organization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'verified'] = opts[:'verified'] if !opts[:'verified'].nil?
      query_params[:'enrollment_mode'] = opts[:'enrollment_mode'] if !opts[:'enrollment_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrganizationDomains'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationDomainsApi.list_organization_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationDomainsApi#list_organization_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
